.card {
  border-bottom: none;
  border-radius: 0;
}

.card:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card:last-child {
  border-bottom: 1px solid var(--mui-palette-divider);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.openInNewIcon {
  opacity: 0.25;
}

.card:hover .openInNewIcon {
  opacity: 0.75;
}
