.switch[class] {
  --switch-width: 58px;
  --switch-height: calc(var(--switch-width) / 2);

  width: var(--switch-width);
  height: var(--switch-height);
  padding: 0;

  & :global(.MuiSwitch-switchBase) {
    padding: 0;
    transform: translate(3px, 2px);

    input {
      width: 400%;
      height: 200%;
      left: -150%;
      top: unset;
    }

    &:hover {
      background-color: transparent;
    }

    &:global(.Mui-checked) {
      transform: translate(30px, 2px);

      &:hover {
        background-color: transparent;
      }

      &+ :global(.MuiSwitch-track) {
        background-color: var(--mui-palette-sky-default);
      }
    }
  }

  & :global(.MuiSwitch-track) {
    border-radius: var(--switch-width);
    background-color: var(--mui-palette-sky-default);
  }
}

.switchHidden {
  visibility: hidden;
}
