.root {
  --primary-font:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
  --code-font:
    ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono",
    "Noto Sans Mono CJK JP", monospace;

  overflow-y: scroll;
  scroll-padding-top: calc(8 * var(--mui-spacing));
}
