.content {
  --color-note: var(--mui-palette-info-main);
  --color-tip: var(--mui-palette-success-main);
  --color-warning: var(--mui-palette-warning-main);
  --color-severe: var(--mui-palette-warning-dark);
  --color-caution: var(--mui-palette-error-main);
  --color-important: var(--mui-palette-secondary-main);

  :global(.markdown-alert) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
