.content {

  :global(.articleImageContainer) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
  }

  :global(.imageLink) {
    aspect-ratio: var(--aspect);
    max-height: 400px;
    max-width: 100%;
  }

  :global(.articleImage) {
    background-image: linear-gradient(to right bottom, rgba(var(--mui-palette-background-defaultChannel) / 0.9), rgba(var(--mui-palette-text-primaryChannel) / 0.1));
    box-shadow: var(--mui-shadows-4);
  }
}