.content {
  ul {
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 1em;

    >li>ul {
      margin-bottom: 0;
      list-style-type: circle;

      >li>ul {
        list-style-type: square;
      }
    }
  }

  :global(.footnotes) ol {
    margin-left: 1em;
    list-style-type: decimal;

    ::marker {
      color: var(--mui-palette-text-secondary);
      font-size: 0.9em;
    }
  }
}