.content {
  ul {
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 1em;

    >li>ul {
      margin-bottom: 0;
      list-style-type: circle;

      >li>ul {
        list-style-type: square;
      }
    }
  }
}
