.popper {
  z-index: var(--mui-zIndex-modal);
}

.hidden {
  display: none;
}

@media (min-width: 1200px) {
  .popper {
    display: none;
  }

  :global(.MuiButtonBase-root).tocButton {
    visibility: hidden;
  }
}
